body {
    font-family: 'Microsoft YaHei UI','Microsoft YaHei','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif!important;
}

h1 {
    background-color: #232323;
    color: white;
    border-bottom: solid 1px;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 1.2em;
    border-top: solid 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #232323;
    color: white;
}

thead {
    background-color: #eee;
    font-weight: bold;
}

td {
    padding: 0.2rem;
    border: solid 1px #D6D6D6;
}

table {
    border-spacing: 0;
}

.group.ng-scope {
    padding-bottom: 1rem;
    border-bottom: solid 1px #aaa;
}

td.server-name {
    font-weight: bold;
    color: #5A7BAB;
}

td.Available {
    background-color: #ADE9AD;
}

td.Using {
    background-color: #EBDAA8;
}

.publish {
    /* background-color: #43B843; */
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: inline-block;
    margin-right: 5px;
}

.publish.true {
    background-color: #43B843;
}

.publish.false {
    background-color: rgba(122, 93, 11, 0.21);
}

input[type="text"] {
    font-size: 1rem;
    width: 160px;
}

tr.Using input[type="text"] {
    border: none;
}

button {
    font-size: 1rem;
    padding-left: 14px;
    padding-right: 14px;

}
